<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="/">
            <img class="img-responsive" src="{{ "assets/img/logo.svg" | prepend: site.baseurl }}" alt="Logo">
        </a>
        <!-- End Logo -->
        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">   
                <li>
                    <i class="fa fa-rss-square"></i>
                    <a href="/rss.xml">RSS</a>
                </li>  
                <li class="topbar-devider"></li>   
                <li>
                    <a href="/atom.xml">Atom</a>
                </li>   
            </ul>
        </div>
        <!--/end Topbar -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Code is just the beginning. Welcome to the rest of your journey.</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Blog</li>
        </ul>   
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->