<!-- Right Sidebar -->
<div class="col-md-3 magazine-page">
    <!-- About Me -->
    <div class="headline headline-md"><h2>About the Author</h2></div>
    <div class="about-me input-group margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
            <img class="img-responsive img-bordered full-width" src="https://secure.gravatar.com/avatar/6d1c8e9200a7fd85b132f9f727b5c461?size=400px" alt="Pete Smith">
        </div>
        <div class="tag-box tag-box-v2">
            <p>Pete is a software consultant, speaker &amp; writer living near London, UK. He started off with C# and Javascript, and nowadays likes to code in Scala. He enjoys running training courses and speaking at conferences. Sometimes he works on OSS, and once time he even finished something.
        </div>
    </div>
    <!-- End About Me -->
    
    <!-- Blog Latest Tweets -->
    <div class="blog-twitter margin-bottom-30">
        <div class="headline headline-md"><h2>Latest Tweets</h2></div>
        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/beyond_code" data-widget-id="663356788704702464">Tweets by @beyond_code</a>
    </div>
    <!-- End Blog Latest Tweets -->

    <!-- Posts -->
    <div class="posts margin-bottom-40">
        <div class="headline headline-md"><h2>Recent Posts</h2></div>
        {% for post in site.posts limit:5 %}
        <dl class="dl-horizontal">
            <dd>
                <p><a href="{{ post.url }}">{{ post.title }}</a></p>
            </dd>
        </dl>
        {% endfor %}
    </div><!--/posts-->
    <!-- End Posts -->

    <!-- Blog Tags -->
    <div class="headline headline-md"><h2>Blog Tags</h2></div>
    <ul class="list-unstyled blog-tags margin-bottom-30">
        {% for tag in site.tags %}
            <li><a href="#"><i class="fa fa-tags"></i> {{ tag || first }}</a></li>
        {% endfor %}
    </ul>
    <!-- End Blog Tags -->

</div>
<!-- End Right Sidebar -->