/* Add here all your css styles (customizations) */
.breadcrumbs
{
	padding: 0;
}

.header .container {
	margin-bottom: 0;
}

.posts .dl-horizontal dd {
    margin-left: 0px;
}

.about-me > .tag-box {
	margin-top: 10px;
    margin-bottom: 0;
}