/* Add here all your css styles (customizations) */
body p {
	font-size: 11pt;
}

h4 {
	margin-top: 30px;
}

.blog p > img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.breadcrumbs
{
	padding: 0;
}

.header > .container {
	margin-bottom: 0;
}

.wrapper > .container {
	padding-top: 30px;
}

.attributed-image {
	padding-top: 10px;
	padding-bottom: 30px;
}

.posts .dl-horizontal dd {
    margin-left: 0px;
}

.about-me > .tag-box {
	margin-top: 10px;
    margin-bottom: 0;
}