<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
{% include head.html %}
</head>
<body>
<div class="wrapper">
    
    {% include header.html %}

    <!--=== Content Part ===-->
    <div class="container content">
    	<div class="row blog-page">
            
             <!-- Left Sidebar -->
            <div class="col-md-9">

                {{ content }}

            </div>
            <!-- End Left Sidebar -->

            {% include sidebar.html %}
            
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->
    
    {% include footer.html %}

</div><!--/wrapper-->

{% include scripts.html %}

</body>
</html>